.quiz-container {
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  /* padding: 20px; */
}

.quiz-question {
  font-size: 48px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.quiz-answers {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  gap: 12px;
}

.quiz-button {
  padding: 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #f0f0f0;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quiz-button:hover {
  background-color: #d1d1d1;
}

.quiz-button.correct {
  background-color: green;
  color: white;
}

.quiz-button.wrong {
  background-color: red;
  color: white;
}

.quiz-button.disabled {
  background-color: #e0e0e0;
  color: black;
  cursor: default;
}

.quiz-finished {
  padding: 10px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-title {
  font-size: 48px;
}

.quiz-timer {
  margin-top: 20px;
}

.quiz-reset-btn {
  font-size: 18px;
  padding: 20px;
  color: white;
  background-color: rgb(255, 0, 0);
  border: 0;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.quiz-reset-btn:hover {
  background-color: rgb(224, 0, 0);
  cursor: pointer;
}

 #heart {
  margin: 0 auto;
      position: relative;
      width: 100px;
      height: 90px;
    }
    #heart:before,
    #heart:after {
      position: absolute;
      content: "";
      left: 50px;
      top: 0;
      width: 50px;
      height: 80px;
      background: red;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }
    #heart:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }
